<div class="relative">
  <h1>Aplicativos disponíveis</h1>
</div>
<% if notice %>
<p class="alert alert-success alert-dismissable"><%= notice %></p>
<% end %>
<ul class="list-apps">
<% @apps.each do |app| %>
  <%= link_to({:action=>'access', :id=>app.id}, target: '_blank') do %>
    <%= app.icon.html_safe %>
    <div class="app-name"><%= app.name %></div>
  <% end %>
<% end %>
</ul>
      
<div class="row">
  <div class="col-md-6">
      <!-- Agenda -->
  </div>
  <div class="col-md-6">
      <!-- Tab -->
  </div>
</div>